.game {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game-board {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game-info {
  margin-top: 70px;
  min-width: 300px;
  overflow-y: auto; /* Prevents buttons from pushing the entire app upward */
  max-height: 600px; /* Limit the height of the moves list */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header{
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(20px + 2vmin);
}

.status{
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin-top: 50px;
}

.square {
  background: #fff;
  border: 2px solid;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol li {
  margin: 5px 0;
}